/* GENERAL */
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.p20 {
  padding: 20px;
}

.m20 {
  margin: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.txt-center {
  text-align: center;
}

.prod {
  background-color: violet;
  border: 1px solid blueviolet;
  border-radius: 20px;
  padding: 10px;
}

.gridMainProductos div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
}

/* MEDIA QUERIES */
/* DESKTOP */
@media (min-width: 1024px) {
  /* GRID INDEX */
  .grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
  }
  header, footer, ul {
    display: flex;
  }
  main {
    display: grid;
    grid-template-areas: "pepe pepe pepe" "titulo titulo titulo" "pIzq imgTxt pDer";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, auto);
  }
  .imgPrincipal {
    grid-area: pepe;
  }
  .titulo {
    grid-area: titulo;
  }
  .parrafoIzq {
    grid-area: pIzq;
  }
  .imgTexto {
    grid-area: imgTxt;
  }
  .parrafoDer {
    grid-area: pDer;
  }
  .just-content-spa-betw {
    justify-content: space-between;
  }
  .align-items-center {
    align-items: center;
  }
  a {
    color: black;
    font-size: 28px;
    padding: 5px;
    margin: 10px;
  }
  p {
    font-size: 30px;
  }
  /* GRID MAIN PRODUCTOS */
  .gridMainProductos {
    display: grid;
    grid-template-areas: "titulo titulo titulo titulo" "prodA prodB prodC prodD";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 10px;
  }
  .tituloProdu {
    grid-area: titulo;
  }
  .prodA {
    grid-area: prodA;
  }
  .prodB {
    grid-area: prodB;
  }
  .prodC {
    grid-area: prodC;
  }
  .prodD {
    grid-area: prodD;
  }
  .gridMainContacto {
    display: grid;
    grid-template-areas: "encabezado encabezado" "form infoContacto" "form iframe";
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
  }
  .encabezado {
    grid-area: encabezado;
  }
  form {
    grid-area: form;
  }
  .infoContacto {
    grid-area: infoContacto;
  }
  .iframe {
    grid-area: iframe;
  }
}
/* TABLET */
@media (min-width: 769px) and (max-width: 1023px) {
  body {
    background-color: yellowgreen;
  }
}
/* MOBILE */
@media (max-width: 768px) {
  header, main, footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  ul {
    display: flex;
    padding: 0;
  }
  a {
    color: black;
    font-size: 22px;
    padding: 5px;
    margin: 5px;
  }
  p {
    font-size: 22px;
  }
  .gridMainProductos {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  .gridMainContacto {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, auto);
  }
}
header {
  background-image: linear-gradient(to bottom, cadetblue, transparent);
}

footer {
  background-image: linear-gradient(to top, cadetblue, transparent);
}

.translate {
  transition: all 1s;
}
.translate:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

.rotate {
  transition: all 1s;
}
.rotate:hover {
  transform: rotate(-720deg);
}

.scale {
  transition: all 1s;
}
.scale:hover {
  transform: scale(1.5, 1.5);
}

.skew {
  transition: transform 1s;
}
.skew:hover {
  transform: skew(20deg, 30deg);
}

p {
  background-color: goldenrod;
  color: blueviolet;
  font-size: 20px;
  transition: all 2s;
}
p:hover {
  background-color: black;
  color: white;
  padding: 20px;
  font-size: 30px;
}

@keyframes animacion-logo {
  0% {
    transform: translate(50px, -50px);
  }
  20% {
    transform: scale(2, 2);
  }
  40% {
    transform: rotate(360deg);
  }
  60% {
    transform: scale(1, 1);
  }
  80% {
    transform: skew(50deg, 30deg);
  }
  100% {
    transform: translate(0, 0);
  }
}
div.logo:hover {
  animation-name: animacion-logo;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}

/*# sourceMappingURL=style.css.map */
